{% extends 'mainapp/base_template.html' %}

{% block head_title %}Password Reset - HerbaMAX{% endblock %}

{% block template_body_block %}
    <div class="page-account">
        <div class="container">
            <div class="acc-box">
                <h2 class="h-pass-res">Password Reset</h2>
                <p>We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.</p>
                <div class="pa-wr">
                    <a class="pa-link-left" href="{% url 'account_login' %}">Back to Login</a>
                    <a class="pa-link-right" href="{% url 'account_signup' %}">Don't have an account? Sign Up</a>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}