{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">

    <title>{% block head_title %}HerbaMax{% endblock %}</title>

    <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    {% block include_css %}{% endblock %}
    
</head>
<body>

<div class="wrapper">
    {% block body_block %}{% endblock %}
</div>

<div class="ajax-loading-modal"></div>
<script src='{% static 'lib/jquery/jquery-3.2.1.min.js' %}'></script>
<script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'lib/jquery-validate/jquery.validate.min.js' %}"></script>
<script src="{% static 'js/site.js' %}"></script>
{% block include_js %}{% endblock %}
</body>
</html>