{% extends 'mainapp/dashboard/dash_base.html' %}

{% block head_title %}Change Password - HerbaMAX{% endblock %}

{% block dash_body %}
    <h2 class="dash-header">Change Password</h2>
    <hr>
    <div class="row">
        <div class="col-sm-6 col-md-5 col-lg-4">
            <form method="POST" action="{% url 'dash_password' %}" class="password_change">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="form-group {% if form.oldpassword.errors %}has-error{% endif %}">
                    <label for="id_oldpassword">Current Password</label>
                    <input class="form-control" id="id_oldpassword" name="oldpassword" type="password" required>
                    {{ form.oldpassword.errors }}
                </div>
                <div class="form-group {% if form.password1.errors %}has-error{% endif %}">
                    <label for="id_password1">New Password</label>
                    <input class="form-control" id="id_password1" name="password1" type="password" required>
                    {{ form.password1.errors }}
                </div>
                <div class="form-group {% if form.password2.errors %}has-error{% endif %}">
                    <label for="id_password2">New Password (again)</label>
                    <input class="form-control" id="id_password2" name="password2" type="password" required>
                    {{ form.password2.errors }}
                </div>
                <button type="submit" name="action" class="btn btn-red">Change Password</button>
            </form>
        </div>
    </div>
{% endblock %}