{% extends 'mainapp/dashboard/dash_base.html' %}
{% load hm_extras %}

{% block head_title %}Change Shipping Address - HerbaMAX{% endblock %}

{% block dash_body %}
    <h2 class="dash-header">Shipping Address</h2>
    <hr>
    <div class="row">
        <div class="col-sm-8 col-md-7 col-lg-6">
            <form action="{% url 'dash_addresses' %}" method="POST">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {% for field in form %}
                    <div class="form-group">
                        <label for="{{ field.auto_id }}">{{ field.label }}</label>
                        {{ field|addclass:"form-control" }}
                        {{ field.errors }}
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-red">Save Address</button>
            </form>
        </div>
    </div>
{% endblock %}